.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    border-collapse: separate;
    width: 90%;

}

.th {
    border: 1px solid white;
    padding: 10px;
    text-align: center
}
.td {
    border: 1px solid white;
    padding: 10px;
    text-align:justify
}