.FormWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ;
}

.form {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}