.pageNavigation {
    display: flex;
    flex-direction: column;
    border: 1px solid #ffff;
    padding: 0.25rem;
    
}

.navbar {
    /* background-color: var(--primary-color); */
    padding: 0.5rem;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li{
    margin: 0 1rem;
    
}


